<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @scoring_system.name %>
</p>

<p>
  <strong>Ptspassing:</strong>
  <%= @scoring_system.ptsPassing %>
</p>

<p>
  <strong>Ptsrushing:</strong>
  <%= @scoring_system.ptsRushing %>
</p>

<p>
  <strong>Ptsreceiving:</strong>
  <%= @scoring_system.ptsReceiving %>
</p>

<p>
  <strong>Ptstd:</strong>
  <%= @scoring_system.ptsTD %>
</p>

<p>
  <strong>Ptstdpass:</strong>
  <%= @scoring_system.ptsTDPass %>
</p>

<p>
  <strong>Ptslnterceptfumble:</strong>
  <%= @scoring_system.ptslnterceptFumble %>
</p>

<p>
  <strong>Ptsextrapoint:</strong>
  <%= @scoring_system.ptsExtraPoint %>
</p>

<p>
  <strong>Ptsturnover:</strong>
  <%= @scoring_system.ptsTurnover %>
</p>

<p>
  <strong>Ptssack:</strong>
  <%= @scoring_system.ptsSack %>
</p>

<p>
  <strong>Ptssafety:</strong>
  <%= @scoring_system.ptsSafety %>
</p>

<p>
  <strong>Ptsblockedkick:</strong>
  <%= @scoring_system.ptsBlockedKick %>
</p>

<%= link_to 'Edit', edit_scoring_system_path(@scoring_system) %> |
<%= link_to 'Back', scoring_systems_path %>
