<%= form_for(player) do |f| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :injured %>
    <%= f.check_box :injured %>
  </div>

  <div class="field">
    <%= f.label :sick %>
    <%= f.check_box :sick %>
  </div>

  <div class="field">
    <%= f.label :suspended %>
    <%= f.check_box :suspended %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
